<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="LabCCLPA.ICRS" connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=ICRS;User ID=LabCCLPA;Password=LabCCLPA;Persist Security Info=False" />
        <add name="LabCCLPA.CMPN" connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=CMPN;User ID=LabCCLPA;Password=LabCCLPA;Persist Security Info=False" />
        <add name="LabCCLPA.CDRM" connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=CDRM;User ID=LabCCLPA;Password=LabCCLPA;Persist Security Info=False" />
    </connectionStrings>
</configuration>