
@{
    ViewBag.Title = "AdjustProcess";
}

<div class="process-page">

    <div class="row">
        <div class="col col-auto">
            <h3>專案臨調處理</h3>
        </div>
    </div>

    <hr />
    <!--查詢-->
    <div class="row">
        <div class="col col-auto">
            <span>歸戶ID</span>
        </div>

        <div class="col col-auto">
            <input type="text" name="name" value="" class="form-control" />
        </div>

        <div class="col col-auto">
            <input type="button" name="name" value="查詢" class="btn btn-primary" />
        </div>
    </div>

    <hr />
    <!--顯示-->
    <div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>資料日期</span>
            </div>
            <div class="col col-2">
                <span>2016/03/10</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>本月VIP星等</span>
            </div>
            <div class="col col-2">
                <span>3</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>身分證字號</span>
            </div>
            <div class="col col-2">
                <span>H142700334</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>正卡有效卡</span>
            </div>
            <div class="col col-2">
                <span>Y</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>停卡狀態中是否有3-77</span>
            </div>
            <div class="col col-2">
                <span>N</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>中文姓名</span>
            </div>
            <div class="col col-2">
                <span>王小明</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>生日</span>
            </div>
            <div class="col col-2">
                <span>1972/05/19</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>歸戶狀態</span>
            </div>
            <div class="col col-2">
                <span>Y</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>卡戶等級</span>
            </div>
            <div class="col col-2">
                <span>3</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>風險評等</span>
            </div>
            <div class="col col-2">
                <span>002</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最初發卡日</span>
            </div>
            <div class="col col-2">
                <span>2011/04/01</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>關帳日</span>
            </div>
            <div class="col col-2">
                <span>20</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>繳款期限</span>
            </div>
            <div class="col col-2">
                <span>05</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>職業／職級</span>
            </div>
            <div class="col col-2">
                <span>M</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>住家電話</span>
            </div>
            <div class="col col-2">
                <span>03-12345678</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>公司電話</span>
            </div>
            <div class="col col-2">
                <span>03-12345678</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>行動電話</span>
            </div>
            <div class="col col-2">
                <span>09123456789</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>
                    帳單地址
                </span>
            </div>
            <div class="col col-10">114台北市內湖區內湖路一段360巷15號6號</div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>近一年最高消費金額</span>
            </div>
            <div class="col col-2">
                <span>1,201</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>註記</span>
            </div>
            <div class="col col-2">
                <span>N</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>信用額度</span>
            </div>
            <div class="col col-2">
                <span>40,000</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>近期關帳</span>
            </div>
            <div class="col col-2">
                <span>9,000</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最低應繳</span>
            </div>
            <div class="col col-2">
                <span>900</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>臨調後額度</span>
            </div>
            <div class="col col-2">
                <span>40,000</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最近付款日期</span>
            </div>
            <div class="col col-2">
                <span>2016/03/29</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最近付款金額</span>
            </div>
            <div class="col col-2">
                <span>10,000</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>優利餘額</span>
            </div>
            <div class="col col-2">
                <span>77</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>總未付</span>
            </div>
            <div class="col col-2">
                <span>0</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>未入帳金額</span>
            </div>
            <div class="col col-2">
                <span>4,000</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>CCAS掛帳</span>
            </div>
            <div class="col col-2">
                <span>20,000</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>可用餘額</span>
            </div>
            <div class="col col-2">
                <span>20,000</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>掛帳比率</span>
            </div>
            <div class="col col-2">
                <span>33.50</span>
            </div>
        </div>
    </div>

    <hr />
    <!--調整-->
    <div>

        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>調高原因</span>
            </div>
            <div class="col col-2">
                <select class="form-control">
                    <option value="value">請選擇</option>
                </select>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>調高原因備註</span>
            </div>
            <div class="col col-2">
                <input type="text" name="name" value="" class="form-control" />
            </div>
            <div class="col col-2 adjust-table-field">
                <span>JCIC日期</span>
            </div>
            <div class="col col-2">
                <input type="text" name="name" value="" class="form-control" />
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>調額上限</span>
            </div>
            <div class="col col-2">
                <input type="text" name="name" value="" class="form-control" disabled />
            </div>
            <div class="col col-2 adjust-table-field">
                <span>刷卡金額(不含額度)</span>
            </div>
            <div class="col col-2">
                <input type="text" name="name" value="" class="form-control" />
            </div>
            <div class="col col-2 adjust-table-field">
                <span>臨調後額度</span>
            </div>
            <div class="col col-2">
                <input type="text" name="name" value="" class="form-control" />
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>有效日期(起)</span>
            </div>
            <div class="col col-2">
                <input type="text" name="name" value="" class="form-control" disabled />
            </div>
            <div class="col col-2 adjust-table-field">
                <span>有效日期(迄)</span>
            </div>
            <div class="col col-2">
                <input type="text" name="name" value="" class="form-control" disabled />
            </div>
            <div class="col col-2 adjust-table-field">
                <span>是否可人工授權</span>
            </div>
            <div class="col col-2">
                <select class="form-control">
                    <option value="value">請選擇</option>
                </select>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>使用地點</span>
            </div>
            <div class="col col-2">
                <select class="form-control">
                    <option value="value">請選擇</option>
                </select>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>出國地點</span>
            </div>
            <div class="col col-2">
                <input type="text" name="name" value="" class="form-control" />
            </div>
        </div>
    </div>

    <hr />
    <!--操作-->
    <div>

        <div class="row">
            <div class="col col-2 adjust-table-field">
                <span>專案臨調結果</span>
            </div>
            <div class="col col-2">
                <span>預審臨調拒絕</span>
            </div>
            <div class="col col-8 adjust-table-field">
                <span>拒絕原因(專案)</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-2 adjust-table-field">
                <span>一般臨調結果</span>
            </div>
            <div class="col col-2">
                <span>預審臨調拒絕</span>
            </div>
            <div class="col col-8 adjust-table-field">
                <span>拒絕原因(一般)</span>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col col-2 adjust-table-field">
                <span>轉授信主管原因</span>
            </div>
            <div class="col col-4">
                <input type="text" name="name" value="" class="form-control" />
            </div>
            <div class="col col-2">
                <input type="button" name="name" value="轉授信主管" class="btn btn-primary" />
            </div>

            <div class="col offset-1">
                <input type="button" name="name" value="核准" class="btn btn-success" />
                <input type="button" name="name" value="拒絕" class="btn btn-danger" />
                <input type="button" name="name" value="取消" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <hr />
    <!--資訊-->
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td class="adjust-table-field">
                        <span>最近一次臨調資訊</span>
                    </td>
                    <td class="adjust-table-field">
                        <span>原因：</span>
                    </td>
                    <td></td>
                    <td class="adjust-table-field">
                        <span>區域：</span>
                    </td>
                    <td></td>
                    <td class="adjust-table-field">
                        <span>起日：</span>
                    </td>
                    <td></td>
                    <td class="adjust-table-field">
                        <span>迄日：</span>
                    </td>
                    <td></td>
                    <td class="adjust-table-field">
                        <span>生效金額：</span>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col col-auto">
                <span>最近一次臨調(清單)</span>
            </div>
        </div>
    </div>
</div>