/*Global*/

body {
    font-family: Helvetica, Microsoft JhengHei;
    font-size: 16px;
}




/*Layout*/
.layout-header {
}

.layout-header-logo {
    background-color: #C2C2C2
}

    .layout-header-logo img {
        width: 300px;
        padding: 4px;
    }

.layout-header-title {
    color: #C8DEDE;
    background-color: red;
    display: flex;
    align-items: center;
}

.layout-header-menu {
}

.layout-body {
    min-height: 80vh;
}

.layout-body-left {
    background-color: #e1e1ea;
}

.layout-body-left-item {
    border-top: 1px solid white;
}

    .layout-body-left-item a {
        color: #7C7C7C;
        font-weight: bold;
    }


.layout-body-right {
    padding: 30px;
}

.layout-footer {
    background-color: #C2C2C2;
}
