/*Global*/

body {
    font-family: Helvetica, Microsoft JhengHei;
    font-size: 16px;
}




/*Layout*/
.layout-header {
}

.layout-header-logo {
    background-color: #C2C2C2;
}

.layout-header-title {
    color: #C8DEDE;
    background-color: red;
}

.layout-header-menu {
}

.layout-body {
    background-color: #FAEBD7;
}

.layout-footer {
    background-color: #F5F5DC;
}
